@import 'bootstrap/dist/css/bootstrap.min.css';

.aboutMe{
    font-size: calc(5px + 2vim);
}

.foto_ceo{
    height: calc(20% + 2vmin);
}

.titulo_aboutMe{
    font-size: calc(5px + 6vim);
    color: rgb(15, 15, 15);

}