@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items:first baseline;
  justify-content:center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

