@import 'bootstrap/dist/css/bootstrap.min.css';

.menu {
    font-size: calc(2.5vh + 1vmin);
    font-family: Oswald;
    font-weight: 400;


}

.titulo_general {
    color: black;
    font-size: calc(12vh + 1vmin);
    font-weight: 900;
    text-shadow: calc(0.2vh + 1vmin) calc(0.1vh + 0.1vmin) calc(0.1vh + 1vmin) rgb(104, 104, 102);
    background-color: rgba(233, 227, 227);
}

;


.columna1_menu {
    background-color: rgb(233, 227, 227);
}

.columna2_menu {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration-line:underline;
    font-style: italic;
    text-shadow: calc(0.2vh + 1vmin) calc(0.1vh + 0.1vmin) calc(0.1vh + 1vmin) rgb(104, 104, 102);
    /* justify-content: center; */


}