@import 'bootstrap/dist/css/bootstrap.min.css';

.back1{
    background-color:rgb(195, 195, 195);
}

.b{
    /* esta clase, controla el background del modal */
    /* background-color: rgba(209, 179, 41, 0.8); */
}

    /* clase para las letras del array precios */
.c{
    font-size: calc(2px + 1vmin);;
}

.g-4{
    padding: 2%;
    background-color: rgb(157, 160, 163, 0.3);
    border-radius: 10px;
}

.texto_portafolio{
    display: flex;
    justify-content: center;
    
        
}

.imagenes{
    height: calc(200px + 1vmin);
}

.imagenes:hover{
    animation-name: rotate;
    animation-duration: 1s;
    
}

@keyframes rotate {
    0%{
        transform: rotate(0);
    }
    30% {
        transform: rotate(3deg);
    }
    50%{
        transform: rotate(1deg);
    }
    70%{
        transform: rotate(2deg);
    }
    100%{
        transform: rotate(0);
    }
}


.titulo_portafolio{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: calc(1.8vh + 3vmin);
    font-weight: 300;
    
}

.espacio{
    display: flex;
    align-items: center;
    font-size: calc(1.5vh + 3vmin);
    height: calc(40vh + 1vmin);
}

