@import 'bootstrap/dist/css/bootstrap.min.css';

.texto_portafolio{
    font-size:2vh;
}

.imagenes{
    height: calc(20vh + 1vmin);
}

.titulo_portafolio{
    display: flex;
    justify-content: center;
    color: aliceblue;
    font-size: calc(1.5vh + 3vmin);
    font-weight: 300;
}

.espacio{
    height: calc(10vh + 1vmin);
}
